{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<div class="container mt-4 p-4 border rounded-3 shadow">
    <h1 class="lead">Lista de Contatos</h1>
    <div class="row">
        <div class="col-12">
            <div class="col-12">
                <form action="{{url_for('contatoLista')}}" class="d-grid gap-2" method="get">
                    <input type="text" name="pesquisa" class="form-control" id="">
                    <button type="submit" class="btn btn-primary">
                        Pesquisar
                    </button>
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Assunto</th>
                        <th scope="col">Respondido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for linha in context['contatos'] %}
                    <tr>
                        <th scope="row">{{linha.nome}}</th>
                        <td>{{linha.email}}</td>
                        <td>{{ linha.assunto}}</td>
                        <td>
                            {% if linha.respondido: %}
                            sim
                            {% else %}
                            não
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}